@font-face {
    font-family: amazon;
    src: url('./../assets/fonts/amazon.woff2');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --primary-color : #F3A847; */
    --primary-hover : #F3A847;
    --primary-color:  #FEBD69;  
    --arrow-color: #A7ACB2;  
    --price-color: #B1314D;
}

body {
    font-family: amazon, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style:none
}

/* UTIL SELECTORS */

.flex { display: flex;}
.row { flex-direction: row;}
.column { flex-direction: column;}
.center { 
    justify-content: center;
    align-items: center;
}
.pointer { cursor: pointer;}
.border { border: 1px solid transparent;}

.border:hover {
    border-color: #fff;
}

.no-margin  {
    margin: 0;
}

.price-color {
    color: var(--price-color);
}